#presentation {
    margin: 100px 25% 50px 25%;
    width: 50%;
    height: 300px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pres {
    display: table;
    width: 80%;
    height: 90%;
    margin: 10% 5%;
    justify-content: center;
    align-items: center;
}

.pres-title {
    font-size: 28px;
    font-weight: 500;
}

.pres-slogan {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 17px;
}

.pres-button {
    border: none;
    font-size: 20px;
    padding: 8px 30px 8px 30px;
    background-color: #3498DB;
    border-radius: 30px;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0 -2px #2980B9;
    color: #fff;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.pres-button a {
    text-decoration: none;
    color: #fff;
}

.pres-button:hover {
    text-decoration: underline;
}

.pres-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}

.pres footer {
    color: #fff;
    margin: 30px 10px;
    font-size: 13px;
    font-weight: 700;
}
